pandas==1.4.3
numpy==1.23.3
altair==4.2.0
json5==0.9.10
pickleshare==0.7.5
sklearn==0.0
gensim==4.2.0
tensorflow
spacy>=2.2.0,<3.0.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz#egg=en_core_web_sm
streamlit==1.13.0